doctype html
html
  head
    meta(charset="UTF-8")
    title QuizIT
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/' + css_file + '.css')
  body
    nav#home
      a(href="/") główna
      if !logged_in
        a(href="/login") zaloguj
      else
        a(href="/logout") wyloguj
        a(href="/change_password") zmien hasło
    block content
