extends layout

block content
  header
    h1 Quiz it
    h2#quiz-name #{rules.name}
  main
    section#timer
      label#minutes 00
      | :
      label#seconds 00
    section#time_percent
      p Poświęcony czas:
      p#percent 0%
    section#description
      p#desc #{rules.description}
      p#penalty Kara za błędną odpowiedź: #{rules.penalty}
    section#question
      p#counter
      p#equation
    section#answers
      button.quiz-ans#first
        p
      button.quiz-ans#second
        p
      button.quiz-ans#third
        p
      button.quiz-ans#fourth
        p
    nav#question-btns
      button#previous Poprzednie
      button#next Następne
      button#stop(disabled="true") STOP
      form(method='POST' action='/cancel/' + id)
        input#csrf(type="hidden" name="_csrf" value=csrfToken)
        button#cancel(type='submit') Anuluj
    nav.hidden#summary
      table#stats
        tr
          th Nr.
          th Twoja odpowiedź
          th Poprawna odpowiedź
          th Czas
          th Kara
  script(src="/script/quiz.js")
