<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Quiz IT</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='../style/main.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='../style/quiz.css'>
</head>
<body>
  <header>
    <h1><a href="dashboard.html">Quiz it</a></h1>
    <h2 id="quiz-name">Nazwa Quizu</h2>
  </header>
  <main>
    <section id="timer">
      <label id="minutes">00</label>:<label id="seconds">00</label>
    </section>
    <section id="description">
      <p id="desc"></p>
      <p id="penalty"></p>
    </section>
    <section id="question">
      <button id="start">Start</button>
      <p id="counter"></p>
      <p id="equation"></p>
    </section>
    <section id="answers" class="hidden">
      <button class="quiz-ans"><p></p></button>
      <button class="quiz-ans"><p></p></button>
      <button class="quiz-ans"><p></p></button>
      <button class="quiz-ans"><p></p></button>
    </section>
    <nav id="question-btns" class="hidden">
      <button id="previous">Poprzednie</button>
      <button id="next">Następne</button>
      <button id="stop" disabled="true">STOP</button>
      <button id="cancel">Anuluj</button>
    </nav>
    <section id="summary" class="hidden">
      <table id="stats">
        <tr>
          <th>Nr.</th>
          <th>Twoja odpowiedź</th>
          <th>Poprawna odpowiedź</th>
          <th>Czas</th>
          <th>Kara</th>
        </tr>
      </table>
      <button id="no-stats">Zapisz</button>
      <button id="with-stats">Zapisz ze statystykami</button>
    </section>
  </main>
</body>
<script src='../script/quiz.js'></script>
</html>