.hidden {
  visibility: hidden;
}


button::-moz-focus-inner {
  border: 0;
}

header {
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  font-size: 45px;
}

header h2 {
  font-size: 30px;
}

#start {
  width: 400px;
  height: 100px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: lime;
  font-size: 20px;
  grid-column-gap: 15px;
}

html {
  font-family: Verdana, Roboto, Arial;
  background-color: #707070;

}

select {
  height: 34px;
  font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
    border: 2px solid #d8d8e6;
}

tr {
    text-align: left;
}

th {
    font-weight: bold ;
    height: 40px;
    background-color: gray;
}

td {
    height: 30px;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d4d4d4;
}

#home {
  text-align: center;
  width: 100%;
  color: black;
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  table {
    font-size: 10px;
  }
}

@media only screen and (max-width: 420px) {
  #start {
    width: 220px;
  }
}

